/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
}


.mainDiv {
    height: 100%;
    position: absolute;
    left: 0px;
    width: 100%;
    overflow: hidden;
}

    .mainDiv .backgroundMap {
        width: auto;
        height: auto;
    }

    .mainDiv .buttonPanel {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-image: url('images/navBackground.png');
        background-size: cover;
    }

        .mainDiv .buttonPanel .logo {
            width: 200px;
            height: 50px;
            margin-right: 20px;
            margin-left: 40px;
        }

        .mainDiv .buttonPanel .buttonPanel-btn {
            border-radius: 10px;
            background-color: #004466;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            width: 150px;
            height: 50px;
            margin-left: 5px;
            font-size: 15px;
            text-align: center;
            font-family: Georgia;
            color: white;
        }
        
        
        .mainDiv .buttonPanel .droneData-btn{
            border-radius: 10px;
            background-color: #004466;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            width: 60px;
            height: 40px;
            margin-left: 140px;
            margin-right: 70px;
            font-size: 12px;
            text-align: center;
            font-family: Georgia;
            color: white
        }



    .mainDiv .backgroundDiv{
        position: center;
        object-position: center;
        object-fit: cover;
    }
    
